:root {
  --main-teal: #0e9594;
  --dark-teal: #127475;
  --beige: #f5dfbb;
  --orange: #f2542d;
  --brown: #562c2c;
  --off-white: #fafafa;
  --slate: #353535;
}

body {
  background-color: var(--off-white);
  color: var(--slate);
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: var(--slate);
  font-weight: 600;
  margin-bottom: 30px;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: var(--slate);
  font-weight: 400;
  margin-bottom: 30px;
}  

.container-fluid {
  padding: 60px 50px;
}

/* Nav */ 
.navbar {
  margin-bottom: 0;
  background-color: var(--main-teal) !important;
  z-index: 9999;
  border: 0;
  font-size: 14px !important;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
  color: var(--off-white) !important;
  letter-spacing: 2px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: var(--main-teal) !important;
  background-color: var(--off-white) !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: var(--off-white) !important;
}

/* Jumbotron */
.jumbotron {
  background-color: var(--main-teal);
  color: var(--off-white);
  padding: 100px 25px;
}

.find-out-btn {
  background-color: var(--orange);
  border: none;
  border-radius: 15px;
  color: var(--off-white);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 20px;
}

/* About Us */
.about-us {
  padding: 75px;
  margin: auto;
  width: 50%;
}

.values {
  text-align: right;
}

.icon {
  font-size: 180px;
  color: var(--orange);
  display: inline-block;
}

.about-line {
  border: 1px solid var(--dark-teal);
  width: 85%;
}

.where-we-do-stuff {
  background-color: var(--slate);
  color: var(--off-white);
  padding: 100px;
}

/* How We Do Stuff */

.icon-small {
  color: #f4511e;
  font-size: 40px;
}

.slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }

  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }

/* Media Queries */

@media only screen and (max-width: 1200px) {
  .about-us {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .icon {
    display: none;
  }

  .values {
    text-align: left;
  }

  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}