:root {
  --main-teal: #0e9594;
  --dark-teal: #127475;
  --beige: #f5dfbb;
  --orange: #f2542d;
  --brown: #562c2c;
  --off-white: #fafafa;
  --slate: #353535;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  background-color: var(--main-teal) !important;
  z-index: 9999;
  border: 0;
  font-size: 14px !important;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
  color: var(--off-white) !important;
  letter-spacing: 2px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: var(--main-teal) !important;
  background-color: var(--off-white) !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: var(--off-white) !important;
}

/* Jumbotron */
.jumbotron {
  background-color: var(--main-teal);
  color: var(--off-white);
  padding: 100px 25px;
}

.find-out-btn {
  background-color: var(--orange);
  border: none;
  border-radius: 15px;
  color: var(--off-white);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 20px;
}