:root {
  --main-teal: #0e9594;
  --dark-teal: #127475;
  --beige: #f5dfbb;
  --orange: #f2542d;
  --brown: #562c2c;
  --off-white: #fafafa;
  --slate: #353535;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

/* Jumbotron */
.jumbotron {
  background-color: var(--main-teal);
  color: var(--off-white);
  padding: 100px 25px;
}

.find-out-btn {
  background-color: var(--orange);
  border: none;
  border-radius: 15px;
  color: var(--off-white);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 20px;
}